### list and list related examples

In [1]:
li = [1,2,3,4,5]
print(len(li))

5

In [2]:
li[2] = 1954
print(li)

[1, 2, 1954, 4, 5]

In [3]:
li[4] = 0
print(li)

[1, 2, 1954, 4, 0]

In [4]:
del li[2] # del the specific value
print(li)

[1, 2, 4, 0]

In [9]:
print(li[-1])
print(li[-2])
print(li[3:4])
print(li[2:3])
print(li[0:3])

0
4
[0]
[4]
[1, 2, 4]

### methods of list

In [18]:
print(sum(li))
print(max(li)) # maximum value of the list
print(min(li)) # minimum value of the list
print(sum(li)//len(li))

7
4
0
1

# list methods

In [22]:
li.append(200)
li

[1, 2, 4, 0, 200, 200]

In [26]:
li.insert(3,59)
li

[1, 2, 4, 59, 59, 59, 59, 0, 200, 200]

In [27]:
li.insert(4,15)
li

[1, 2, 4, 59, 15, 59, 59, 59, 0, 200, 200]

In [28]:
li.count(100)
li

[1, 2, 4, 59, 15, 59, 59, 59, 0, 200, 200]

In [29]:
li.count(200)
li

[1, 2, 4, 59, 15, 59, 59, 59, 0, 200, 200]

In [30]:
li.count(200)

2

In [31]:
li.count(59)

4

In [32]:
li.index(0)

8

In [33]:
li.sort()
li

[0, 1, 2, 4, 15, 59, 59, 59, 59, 200, 200]

In [34]:
li.pop()
li

[0, 1, 2, 4, 15, 59, 59, 59, 59, 200]

In [35]:
li.pop(5)
li

[0, 1, 2, 4, 15, 59, 59, 59, 200]

# define a function to findout second large item of the list
 - li = [1,9,16,25,2,3,65]
 -  output = 25

In [37]:
def secondlarge(li):
    li.sort()
    return li[-2]
li = [1,9,16,25,2,3,65]
secondlarge(li)

25

In [40]:
def genericlarge(li,n):
    li.sort()
    return li[-n]
genericlarge(li,3)

16

In [41]:
def genericlarge(li,n):
    li.sort()
    return li[-n]
genericlarge(li,5)

3

In [47]:
def genericleast(li,n):
    li.sort()
    return li[n]
genericleast(li,3)

9

### number to list conversion

In [48]:
def numbertolist(n):
    li = []
    while n != 0:
        r = n % 10
        li.append(r)
        n = n // 10
    li.reverse()
    return li
numbertolist(19563212)

[1, 9, 5, 6, 3, 2, 1, 2]

### data structures - tuples
- it is similar to the list objects
- list will be enclosed in square brackets[] and tuples
- will be enclosed with in paraenthsis()
- list can be incresed/decresed and tuples is fixed so that
- you can't increase and decrese the tuple
- it mean list is mutable and tuple is immutable
- list will be used for read and write where as tuples will be
  - used for reading only

In [50]:
t1 = (1,1,5,9,2)
t1

(1, 1, 5, 9, 2)

In [52]:
t1[0:4]

(1, 1, 5, 9)

In [56]:
t1[2]=123

TypeError: 'tuple' object does not support item assignment

### data structures - dictionaries
- this data structure object is work on set of keys and values
- there will be unique key set will be defined
- ever key is seperated from its value by column()

In [64]:
d1 = {"name":"ashish","emailid":"ashishkumarbittu737@gmail.com","mobilenumber":9010058538}
print(d1)

{'name': 'ashish', 'emailid': 'ashishkumarbittu737@gmail.com', 'mobilenumber': 9010058538}

In [58]:
print(d1["name"])

ashish

In [59]:
print(d1["emailid"])

ashishkumarbittu737@gmail.com

In [65]:
print(d1["mobilenumber"])

9010058538

### Contact Application
-- used concepts: dict,list and tuples
### Modules of Contact  Application
 - add contacts
 - search contacts
 - import the new contact
 - update the contact details
 - delete the contact details

In [3]:
contacts = {}
def addcontacts(name,phone):
    if name not in contacts:
        contacts[name] = phone
        print("contacts added")
    else:
        print("contacts is not added")
    return
addcontacts("ashish",9010058538)
addcontacts("kashyap",6300361728)
addcontacts("ashish",9010058538)

contacts added
contacts added
contacts is not added

In [4]:
contacts

{'ashish': 9010058538, 'kashyap': 6300361728}

In [5]:

def searchcontacts(name):
    if name in contacts:
        print('name' ," : ", contacts[name])
    else:
        print("contact is not present")
    return
searchcontacts('ashish')
searchcontacts('kashyap')
searchcontacts('koushik')

name  :  9010058538
name  :  6300361728
contact is not present

In [6]:
def importcontacts(newcontacts):
    contacts.update(newcontacts)
    print('new contacts are added')
    return
newcontacts  = {"phani":9998885551,"yash":8889996665}
importcontacts(newcontacts)

new contacts are added

In [9]:
def updatedetails(name,phone):
    if name in contacts:
        contacts[name] = phone
        print('contact update is succesful')
    else:
        print('please add the new contact details')
    return
updatedetails('phani',8989896665)
updatedetails('kusal',9021546878)

contact update is succesful
please add the new contact details

In [12]:
def deletecontactdetails(name):
    if name in contacts :
        del contacts[name]
        print('contact is deleted')
    else:
        print('contact is not present')
    return
deletecontactdetails('yash')
deletecontactdetails('siddu')

contact is deleted
contact is not present

In [13]:
contacts

{'ashish': 9010058538, 'kashyap': 6300361728, 'phani': 8989896665}

### string to list conversion
 - "1 2 3 4 5"-[1,2,3,4,5]

In [14]:
a = input('enter a numbers')
print(type(a))
print(a)

enter a numbers1 2 3 4 5
<class 'str'>
1 2 3 4 5

In [15]:
s = "Apllicatin Test Working"
li = s.split()
print(li)

['Apllicatin', 'Test', 'Working']

In [17]:
s = "name place thing animal"
li = s.split("a")
print(li)

['n', 'me pl', 'ce thing ', 'nim', 'l']

In [20]:
def stringtolist(s):
    li = s.split()
    numberlist = []
    for i in li:
        numberlist.append(int(i))
    return numberlist
stringtolist('1 2 3 4 5')

[1, 2, 3, 4, 5]

In [21]:
def stringtolist(s):
    li = s.split()
    numberlist = []
    for i in li:
        numberlist.append(i)
    return numberlist
stringtolist('1 2 ashish 4 kumar')

['1', '2', 'ashish', '4', 'kumar']

### string and string function